:root {
    /* Color variables */
    --border-color: #333333;
    --button-color: #000065;
    --light-font-color:#FFF;
    --dark-font-color: #0b1464;
    --background-color:#000065;
    --background-light: #D9E1F2;
    --success-dark: #006100;
    --success-light: #C6EFCE;
    --failure-dark: #9C0006;
    --failure-light: #FFC7CE;

    /* Spacing Variables */
    --font-based-spacing: 0.5em;
    --small-spacing: 4px;
    --default-spacing: 8px;
    --medium-spacing: 12px;
    --large-spacing: 16px;
    --xl-spacing: 32px;

    /* Font variables */
    --xl-font-size: 22px;
    --large-font-size: 18px;
    --medium-font-size: 14px;
    --default-font-size: 12px;

    /* Breakpoints */
    --mobile-brk-point: 375px;
    --table-brk-point: 768px;
    --desktop-brk-point: 1024px;
}
  