:root {
    /* Color variables */
    --border-color: #333333;

    --button-color: #303F9F;
    --button-color-hovered: #3F51B5;

    --light-font-color:#FFF;
    --dark-font-color: #0b1464;
    --standard-font-color: #222222;

    --background-color:#303F9F;
    --background-light: #D9E1F2;
    --background-no-color: #FFF;

    --shadow-color: #a0a2a7;

    --success-dark: #006100;
    --success-light: #C6EFCE;
    --failure-dark: #9C0006;
    --failure-light: #FFC7CE;
    --disabled-bg: #888;
    --disabled-font: #111;

    /* Spacing Variables */
    --font-based-spacing: 0.5em;
    --small-spacing: 4px;
    --default-spacing: 8px;
    --medium-spacing: 12px;
    --large-spacing: 16px;
    --xl-spacing: 32px;

    /* Font variables */
    --xxl-font-size: 26px;
    --xl-font-size: 22px;
    --large-font-size: 18px;
    --medium-font-size: 14px;
    --default-font-size: 12px;

    /* Breakpoints */
    --mobile-brk-point: 375px;
    --table-brk-point: 768px;
    --desktop-brk-point: 1024px;

    /* Limit Sizes */
    --max-width-page: 900px;
    --max-width-card: 500px;
}

.darkMode {
    /* Color variables */
    --dark-font-color: #FFF;
    --standard-font-color: #FFF;
    
    --background-color:#212121;
    --background-no-color: #757575;
    --background-light: #545454;

    --shadow-color: #222;

    --button-color: #455A64;
    
    /* General color of base background */
    background-color:#333;
    
}